Repository sinhrks/daskperiment, pull requests merged in 2019-04, with the labels that each got.

#64 CLN: cleanup for NOSQL backend
  daskperiment/backend/base.py
  daskperiment/backend/redis.py
  daskperiment/board/component.py
  daskperiment/core/metric/nosql.py
  daskperiment/core/metric/redis.py
  daskperiment/core/trial.py
  daskperiment/environment/platform.py
  daskperiment/tests/core/trial/test_redis.py
  setup.py
Labels: Backend

#65 TST: redis delete only current db
  daskperiment/backend/redis.py
Labels: Backend, Redis, Test

#66 ENH: support mongody, pt1
  .travis.yml
  daskperiment/backend/__init__.py
  daskperiment/backend/base.py
  daskperiment/backend/mongo.py
  daskperiment/backend/redis.py
  daskperiment/core/metric/nosql.py
  daskperiment/tests/backend/.DS_Store
  daskperiment/tests/backend/test_backend.py
  daskperiment/tests/backend/test_nosql.py
  requirements_test.txt
Labels: Backend, MongoDB

#75 API: make id validation to be python consistent
  daskperiment/core/experiment.py
  daskperiment/core/metric/base.py
  daskperiment/tests/core/experiment/base.py
  daskperiment/tests/core/metric/base.py
  daskperiment/tests/util/test_text.py
  daskperiment/util/text.py
Labels: Error Reporting

#74 ENH: support mongodb, pt3
  daskperiment/backend/base.py
  daskperiment/backend/mongo.py
  daskperiment/core/metric/nosql.py
  daskperiment/core/trial/base.py
  daskperiment/tests/backend/test_backend.py
  daskperiment/tests/core/experiment/test_mongo.py
  daskperiment/tests/core/experiment/test_redis.py
  docs/source/backend.rst
Labels: Backend, MongoDB

#67 modified docs
  docs/source/backend.rst
  docs/source/commandline.rst
  docs/source/dashboard.rst
  docs/source/index.rst
  docs/source/quickstart.rst
  docs/source/tips.rst
Labels: Doc

#76 DOC: update readme
  README.rst
  docs/source/index.rst
Labels: Doc

#77 ENH: Redesign dashboard, pt1
  daskperiment/board/board.py
  daskperiment/board/component.py
  daskperiment/board/static/css/style.css
  daskperiment/board/templates/index.html
  daskperiment/core/experiment.py
  daskperiment/tests/board/test_board.py
  daskperiment/tests/board/test_component.py
  requirements.txt
Labels: Dashboard
